<html><body>
<%= render 'bench/partial' %>
<% a = [*1..10000] %>

render_partial:
<% now = Time.now %><% for i in a %><%= render 'bench/partial', i: i %><% end %>
<% result = Time.now - now %>
<span id="normal"><%= result %></span>
<br>

render_relative:
<% now = Time.now %><% for i in a %><%= render './partial', i: i %><% end %>
<% result = Time.now - now %>
<span id="relative"><%= result %></span>
